<div class="container">
  <div class="inner-container">
    <div class="header">
      <h1>{{ "select-message" | translate }}</h1>
    </div>
    <div class="controls">
      <input type="text" [(ngModel)]="value" placeholder="{{ 'placeholder-text' | translate }}" />
      <select name="" id="dropdown-menu" [(ngModel)]="pipe">
        <option value="" default>{{'none' | translate}}</option>
        <option *ngFor="let option of options">
          {{ option | translate }}
        </option>
      </select>
      <button (click)="applyPipe()">{{"apply-message" | translate }}</button>
    </div>
    <div class="result">
      <p>{{"result-message" | translate }}: {{result}}</p>
    </div>
  </div>
</div>
