<div class="container-wrapper">
  <div class="container">
    <h1>Tic Tac Toe</h1>
    <div class="info-wrapper">
      <div class="info-panel">

        <ng-container *ngIf="this.game.isWin() || this.game.isFull(); then finalMessage; else logMessage">
        </ng-container>

        <ng-template #finalMessage>
          <div>{{ this.game.finalGameMessage }}</div>
        </ng-template>

        <ng-template #logMessage>
          <div>{{ this.game.currentPlayer }} turn</div>
        </ng-template>

      </div>

      <div
        class="info-action"
        *ngIf="this.game.isFull() || this.game.isWin()"
        (click)="this.game.clearTiles(3, 3)"
      >
        <button>Play Again</button>
      </div>

    </div>

    <div class="game-wrapper">
      <div
        *ngFor="let rows of this.game.gameTiles; let row = index"
        class="rows"
      >
        <div
          *ngFor="let lines of this.game.gameTiles; let line = index"
          class="columns"
        >
          <app-game-tile
            [gameTile]="this.game.gameTiles[row][line]"
          ></app-game-tile>
        </div>
      </div>
    </div>
  </div>
</div>
